.App {

}

#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.MainView canvas {
    width: 100%;
    height: 100%;

}

#root {
    height: 100vh;
    width: 100vw;
}

/* .App {
    width: 1920px;
    height: 1080px;
    transform-origin: 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(./assets/texture/bg.png);
} */
.App{
    width: 100vw;
    height: 100vh;
    position: relative;
    /* background-image: url(./assets/texture/bg.png); */
    background-color: #121c2b;
}