/* 通用属性 */
.marginc {
    /* background-color: rgb(189, 95, 95); */
    background-color: rgb(255, 255, 255);
    margin: 0.1vh;
}

#layout {
    height: 99vh;
    width: 99vw;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

/* 头部标题栏 */
.title {
    height: 3vh;
    color: black;
    text-shadow: 0 0 20px white;
    font-size: 1.8vh;
    text-align: center;
}

.container {
    height: 96vh;
    width: 99vw;
    display: flex;
}

/* 左部：控制台、排队车辆统计*/
.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* margin-bottom: 5px; */
}

#mainview {
    flex: 4
}

#console {
    flex: 1;
}

#queue {
    flex: 1
}



/* 右部：断面车流统计、车辆热力图 */
.right {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* margin-bottom: 5px; */
}

#traffic {
    flex: 1;
}

#heat {
    flex: 1
}