#layout {
    width: 100%;
    height: 100%;
    /* background-color: #030409; */
    color: #fff;
}

#dv-full-screen-container {
    /* background-image: url('./img/bg.png'); */
    background-size: 100% 100%;
    /* box-shadow: 0 0 3px blue; */
    display: flex;
    flex-direction: column;
}

/* 头部标题栏 */
.head {
    /* height: 80px; */
    height: 6.6%;
    display: flex;
    justify-content: space-between;
}

.head-left {
    /* flex-basis: auto; */
    flex-basis: 25%;
    display: flex;
    align-items: center;
    /* margin-left: 60px; */
    margin-left: 3.1%;
    justify-content: left;
}

.head-right {
    flex-basis: 25%;
    /* flex-basis: auto; */
    display: flex;
    align-items: center;
    margin-right: 3.1%;
}

.head-center {
    flex-basis: 50%;
    /* width: 600px; */
    /* height: 90px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-title {
    /* width: 500px; */
    width: 100%;
    height: 100%;
    position: relative;
}

.head-title span {
    position: absolute;
    /* top: 0%; */
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    color: #fff;
}

.dv-decoration-6 {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10px;
}

.container {
    height: calc(100% - 6.6%);
    display: flex;
}

/* 第一屏样式 */
.f-left {
    flex-direction: column;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}

.f-console{
    padding-bottom: 260px;
}
.f-console .border-box-content {
    padding: 20px;
}

.f-queue .border-box-content {
    padding: 20px;
}

.f-right {
    padding: 10px;
    padding-left: 5px;
    box-sizing: border-box;
}

.f-r-top {
    display: flex;
}

.f-rt-left .border-box-content {
    justify-content: center;
    display: flex;
    align-items: center;
}

.f-rt-right {
    padding-left: 10px;
}

.f-rt-right .border-box-content {
    padding: 20px;
}

.f-r-bottom .border-box-content {
    padding: 20px;
}

/* 第二屏样式 */
.left {
    width: 22%;
    flex-direction: column;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}

.console .border-box-content {
    padding: 20px;
}

.queue {
    padding-top: 10px;
}

.queue .border-box-content {
    padding: 20px;
}

/* .left .border-box-content { */
/* flex-direction: column; */
/* } */

.right {
    width: 78%;
    padding: 10px;
    padding-left: 5px;
    box-sizing: border-box;
}

.r-top {
    height: 65%;
    display: flex;
}

.rt-left {
    width: 65%;
}

.rt-left .border-box-content {
    justify-content: center;
    display: flex;
    align-items: center;
}

/* .rt-right .border-box-content{
    width: 35%;
} */
.rt-right {
    width: 35%;
    padding-left: 15px;
}

.rt-right .border-box-content {
    padding: 20px;
}

.r-bottom {
    height: 35%;
}

.r-bottom .border-box-content {
    padding: 20px;
}